:root {
  --startColor: hsl(0, 100%, 75%);
  --stopColor: hsl(0, 100%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #72C7ED;
}

svg {
  width: 174vw;
  height: 73vw;
  transform: translateY(4%) translateX(-20%) rotate(36deg);
}

path {
  cursor: pointer;
}

